div.quickLinks
    a(ng-click="") Browse Parts
    a(ng-click="") Build a PC
    a(ng-click="") How To Tutorials

div.recentFeed
    p Recent activity feed

div.wideSkyAd
    p Wide skyscraper ad goes here

div.leaderAd
    p Leader board ad goes here